{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "PolicyTrackedResourcesClient",
        "version": "2018-07-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/policyTrackedResources.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "policyinsights-policyTrackedResources",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
            "post": {
                "description": "Queries policy tracked resources under the management group.",
                "operationId": "PolicyTrackedResources_ListQueryResultsForManagementGroup",
                "parameters": [
                    {
                        "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
                        "in": "path",
                        "name": "managementGroupsNamespace",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Microsoft.Management"
                            ]
                        }
                    },
                    {
                        "description": "Management group name.",
                        "in": "path",
                        "name": "managementGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
                        "in": "path",
                        "name": "policyTrackedResourcesResource",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "default"
                            ]
                        }
                    },
                    {
                        "description": "Maximum number of records to return.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "x-ms-client-name": "Top",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "OData filter expression.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "x-ms-client-name": "Filter",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Query results.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Query results.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to get the next set of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Query results.",
                                            "items": {
                                                "description": "Policy tracked resource record.",
                                                "properties": {
                                                    "createdBy": {
                                                        "description": "The details of the policy triggered deployment that created the tracked resource.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "deploymentId": {
                                                                "description": "The ID of the deployment that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "deploymentTime": {
                                                                "description": "Timestamp of the deployment that created or modified the tracked resource.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDetails": {
                                                                "description": "The details of the policy that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "policyAssignmentDisplayName": {
                                                                        "description": "The display name of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentId": {
                                                                        "description": "The ID of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentScope": {
                                                                        "description": "The scope of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionId": {
                                                                        "description": "The ID of the policy definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionReferenceId": {
                                                                        "description": "The policy definition reference ID within the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policySetDefinitionId": {
                                                                        "description": "The ID of the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "lastModifiedBy": {
                                                        "description": "The details of the policy triggered deployment that modified the tracked resource.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "deploymentId": {
                                                                "description": "The ID of the deployment that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "deploymentTime": {
                                                                "description": "Timestamp of the deployment that created or modified the tracked resource.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDetails": {
                                                                "description": "The details of the policy that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "policyAssignmentDisplayName": {
                                                                        "description": "The display name of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentId": {
                                                                        "description": "The ID of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentScope": {
                                                                        "description": "The scope of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionId": {
                                                                        "description": "The ID of the policy definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionReferenceId": {
                                                                        "description": "The policy definition reference ID within the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policySetDefinitionId": {
                                                                        "description": "The ID of the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "lastUpdateUtc": {
                                                        "description": "Timestamp of the last update to the tracked resource.",
                                                        "format": "date-time",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "policyDetails": {
                                                        "description": "The details of the policy that require the tracked resource.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "policyAssignmentDisplayName": {
                                                                "description": "The display name of the policy assignment.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyAssignmentId": {
                                                                "description": "The ID of the policy assignment.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyAssignmentScope": {
                                                                "description": "The scope of the policy assignment.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionId": {
                                                                "description": "The ID of the policy definition.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionReferenceId": {
                                                                "description": "The policy definition reference ID within the policy set definition.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policySetDefinitionId": {
                                                                "description": "The ID of the policy set definition.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "trackedResourceId": {
                                                        "description": "The ID of the policy tracked resource.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error definition.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service specific error code which serves as the substatus for the HTTP error code.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "Description of the error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Query at management group scope": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "managementGroupName": "myManagementGroup",
                            "managementGroupsNamespace": "Microsoft.Management",
                            "policyTrackedResourcesResource": "default"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "createdBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-03-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition"
                                                }
                                            },
                                            "lastModifiedBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-04-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition"
                                                }
                                            },
                                            "lastUpdateUtc": "2018-08-09T20:40:17.3585243Z",
                                            "policyDetails": {
                                                "policyAssignmentDisplayName": "My Policy Assignment 1 Display name",
                                                "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1",
                                                "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/",
                                                "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1",
                                                "policyDefinitionReferenceId": "123ABC",
                                                "policySetDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition"
                                            },
                                            "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName1"
                                        },
                                        {
                                            "lastUpdateUtc": "2018-08-10T00:40:17.3585243Z",
                                            "policyDetails": {
                                                "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment2",
                                                "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition2"
                                            },
                                            "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName2"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Query at management group scope using query parameters": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "managementGroupName": "myManagementGroup",
                            "managementGroupsNamespace": "Microsoft.Management",
                            "policyTrackedResourcesResource": "default"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "createdBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-03-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition"
                                                }
                                            },
                                            "lastModifiedBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-04-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition"
                                                }
                                            },
                                            "lastUpdateUtc": "2018-08-09T20:40:17.3585243Z",
                                            "policyDetails": {
                                                "policyAssignmentDisplayName": "My Policy Assignment Display name",
                                                "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment",
                                                "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/",
                                                "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition",
                                                "policyDefinitionReferenceId": "123ABC",
                                                "policySetDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition"
                                            },
                                            "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
            "post": {
                "description": "Queries policy tracked resources under the subscription.",
                "operationId": "PolicyTrackedResources_ListQueryResultsForSubscription",
                "parameters": [
                    {
                        "description": "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
                        "in": "path",
                        "name": "policyTrackedResourcesResource",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "default"
                            ]
                        }
                    },
                    {
                        "description": "Maximum number of records to return.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "x-ms-client-name": "Top",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "OData filter expression.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "x-ms-client-name": "Filter",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Microsoft Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Query results.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Query results.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to get the next set of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Query results.",
                                            "items": {
                                                "description": "Policy tracked resource record.",
                                                "properties": {
                                                    "createdBy": {
                                                        "description": "The details of the policy triggered deployment that created the tracked resource.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "deploymentId": {
                                                                "description": "The ID of the deployment that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "deploymentTime": {
                                                                "description": "Timestamp of the deployment that created or modified the tracked resource.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDetails": {
                                                                "description": "The details of the policy that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "policyAssignmentDisplayName": {
                                                                        "description": "The display name of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentId": {
                                                                        "description": "The ID of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentScope": {
                                                                        "description": "The scope of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionId": {
                                                                        "description": "The ID of the policy definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionReferenceId": {
                                                                        "description": "The policy definition reference ID within the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policySetDefinitionId": {
                                                                        "description": "The ID of the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "lastModifiedBy": {
                                                        "description": "The details of the policy triggered deployment that modified the tracked resource.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "deploymentId": {
                                                                "description": "The ID of the deployment that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "deploymentTime": {
                                                                "description": "Timestamp of the deployment that created or modified the tracked resource.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDetails": {
                                                                "description": "The details of the policy that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "policyAssignmentDisplayName": {
                                                                        "description": "The display name of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentId": {
                                                                        "description": "The ID of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentScope": {
                                                                        "description": "The scope of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionId": {
                                                                        "description": "The ID of the policy definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionReferenceId": {
                                                                        "description": "The policy definition reference ID within the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policySetDefinitionId": {
                                                                        "description": "The ID of the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "lastUpdateUtc": {
                                                        "description": "Timestamp of the last update to the tracked resource.",
                                                        "format": "date-time",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "policyDetails": {
                                                        "description": "The details of the policy that require the tracked resource.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "policyAssignmentDisplayName": {
                                                                "description": "The display name of the policy assignment.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyAssignmentId": {
                                                                "description": "The ID of the policy assignment.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyAssignmentScope": {
                                                                "description": "The scope of the policy assignment.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionId": {
                                                                "description": "The ID of the policy definition.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionReferenceId": {
                                                                "description": "The policy definition reference ID within the policy set definition.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policySetDefinitionId": {
                                                                "description": "The ID of the policy set definition.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "trackedResourceId": {
                                                        "description": "The ID of the policy tracked resource.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error definition.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service specific error code which serves as the substatus for the HTTP error code.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "Description of the error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Query at subscription scope": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "policyTrackedResourcesResource": "default",
                            "subscriptionId": "fffedd8f-ffff-fffd-fffd-fffed2f84852"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "createdBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-03-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition"
                                                }
                                            },
                                            "lastModifiedBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-04-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition"
                                                }
                                            },
                                            "lastUpdateUtc": "2018-08-09T20:40:17.3585243Z",
                                            "policyDetails": {
                                                "policyAssignmentDisplayName": "My Policy Assignment 1 Display name",
                                                "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1",
                                                "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/",
                                                "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1",
                                                "policyDefinitionReferenceId": "123ABC",
                                                "policySetDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition"
                                            },
                                            "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName1"
                                        },
                                        {
                                            "lastUpdateUtc": "2018-08-10T00:40:17.3585243Z",
                                            "policyDetails": {
                                                "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment2",
                                                "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition2"
                                            },
                                            "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName2"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Query at subscription scope using query parameters": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "policyTrackedResourcesResource": "default",
                            "subscriptionId": "fffedd8f-ffff-fffd-fffd-fffed2f84852"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "createdBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-03-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition"
                                                }
                                            },
                                            "lastModifiedBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-04-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition"
                                                }
                                            },
                                            "lastUpdateUtc": "2018-08-09T20:40:17.3585243Z",
                                            "policyDetails": {
                                                "policyAssignmentDisplayName": "My Policy Assignment Display name",
                                                "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment",
                                                "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/",
                                                "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition",
                                                "policyDefinitionReferenceId": "123ABC",
                                                "policySetDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition"
                                            },
                                            "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
            "post": {
                "description": "Queries policy tracked resources under the resource group.",
                "operationId": "PolicyTrackedResources_ListQueryResultsForResourceGroup",
                "parameters": [
                    {
                        "description": "Resource group name.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
                        "in": "path",
                        "name": "policyTrackedResourcesResource",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "default"
                            ]
                        }
                    },
                    {
                        "description": "Maximum number of records to return.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "x-ms-client-name": "Top",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "OData filter expression.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "x-ms-client-name": "Filter",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Microsoft Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Query results.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Query results.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to get the next set of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Query results.",
                                            "items": {
                                                "description": "Policy tracked resource record.",
                                                "properties": {
                                                    "createdBy": {
                                                        "description": "The details of the policy triggered deployment that created the tracked resource.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "deploymentId": {
                                                                "description": "The ID of the deployment that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "deploymentTime": {
                                                                "description": "Timestamp of the deployment that created or modified the tracked resource.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDetails": {
                                                                "description": "The details of the policy that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "policyAssignmentDisplayName": {
                                                                        "description": "The display name of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentId": {
                                                                        "description": "The ID of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentScope": {
                                                                        "description": "The scope of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionId": {
                                                                        "description": "The ID of the policy definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionReferenceId": {
                                                                        "description": "The policy definition reference ID within the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policySetDefinitionId": {
                                                                        "description": "The ID of the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "lastModifiedBy": {
                                                        "description": "The details of the policy triggered deployment that modified the tracked resource.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "deploymentId": {
                                                                "description": "The ID of the deployment that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "deploymentTime": {
                                                                "description": "Timestamp of the deployment that created or modified the tracked resource.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDetails": {
                                                                "description": "The details of the policy that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "policyAssignmentDisplayName": {
                                                                        "description": "The display name of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentId": {
                                                                        "description": "The ID of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyAssignmentScope": {
                                                                        "description": "The scope of the policy assignment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionId": {
                                                                        "description": "The ID of the policy definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policyDefinitionReferenceId": {
                                                                        "description": "The policy definition reference ID within the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "policySetDefinitionId": {
                                                                        "description": "The ID of the policy set definition.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "lastUpdateUtc": {
                                                        "description": "Timestamp of the last update to the tracked resource.",
                                                        "format": "date-time",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "policyDetails": {
                                                        "description": "The details of the policy that require the tracked resource.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "policyAssignmentDisplayName": {
                                                                "description": "The display name of the policy assignment.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyAssignmentId": {
                                                                "description": "The ID of the policy assignment.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyAssignmentScope": {
                                                                "description": "The scope of the policy assignment.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionId": {
                                                                "description": "The ID of the policy definition.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionReferenceId": {
                                                                "description": "The policy definition reference ID within the policy set definition.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policySetDefinitionId": {
                                                                "description": "The ID of the policy set definition.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "trackedResourceId": {
                                                        "description": "The ID of the policy tracked resource.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error definition.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service specific error code which serves as the substatus for the HTTP error code.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "Description of the error.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Query at resource group scope": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "policyTrackedResourcesResource": "default",
                            "resourceGroupName": "myResourceGroup",
                            "subscriptionId": "fffedd8f-ffff-fffd-fffd-fffed2f84852"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "createdBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-03-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition"
                                                }
                                            },
                                            "lastModifiedBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-04-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition"
                                                }
                                            },
                                            "lastUpdateUtc": "2018-08-09T20:40:17.3585243Z",
                                            "policyDetails": {
                                                "policyAssignmentDisplayName": "My Policy Assignment 1 Display name",
                                                "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1",
                                                "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/",
                                                "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1",
                                                "policyDefinitionReferenceId": "123ABC",
                                                "policySetDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition"
                                            },
                                            "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName1"
                                        },
                                        {
                                            "lastUpdateUtc": "2018-08-10T00:40:17.3585243Z",
                                            "policyDetails": {
                                                "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment2",
                                                "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition2"
                                            },
                                            "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName2"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Query at resource group scope using query parameters": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "policyTrackedResourcesResource": "default",
                            "resourceGroupName": "myResourceGroup",
                            "subscriptionId": "fffedd8f-ffff-fffd-fffd-fffed2f84852"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "createdBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-03-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition"
                                                }
                                            },
                                            "lastModifiedBy": {
                                                "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                                                "deploymentTime": "2018-04-09T00:00:00.0000000Z",
                                                "policyDetails": {
                                                    "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment",
                                                    "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/",
                                                    "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition"
                                                }
                                            },
                                            "lastUpdateUtc": "2018-08-09T20:40:17.3585243Z",
                                            "policyDetails": {
                                                "policyAssignmentDisplayName": "My Policy Assignment 1 Display name",
                                                "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1",
                                                "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/",
                                                "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1",
                                                "policyDefinitionReferenceId": "123ABC",
                                                "policySetDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition"
                                            },
                                            "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource/nestedResourceType/TrackedResource1"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/{resourceId}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
            "post": {
                "description": "Queries policy tracked resources under the resource.",
                "operationId": "PolicyTrackedResources_ListQueryResultsForResource",
                "parameters": [
                    {
                        "description": "Resource ID.",
                        "in": "path",
                        "name": "resourceId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "x-ms-skip-url-encoding": true,
                        "schema": {
                            "type": "string"
                        },
                        "allowReserved": true
                    },
                    {
                        "description": "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
                        "in": "path",
                        "name": "policyTrackedResourcesResource",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "default"
                            ]
                        }
                    },
                    {
                        "description": "Maximum number of records to return.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "x-ms-client-name": "Top",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "OData filter expression.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "x-ms-client-name": "Filter",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Query results.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Query results.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to get the next set of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Query results.",
                                            "items": {
                                                "description": "Policy tracked resource record.",
                                                "properties": {
                                                    "createdBy": {
                                                        "description": "The details of the policy triggered deployment that created the tracked resource.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "deploymentId": {
                                                                "description": "The ID of the deployment that created or modified the tracked resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "deploymentTime": {
                                                                "description": "Timestamp of the deployment that created or modified the tracked resource.",
                                                                "format": "date-time",
[...]
